@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Waterfall&display=swap');
.Main-Name{
    font-family: Waterfall;
}
.mobile-bar{
    /* background: #C6FFDD;
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  */

}
.Main-Banner{
    animation: right-to  700ms;
}
@keyframes right-to {
    0%{
        transform:translateY(-100%) ;
    }
    100%{
        transform:translateY(0) ;
    }
}
.opacity-change{
    
    animation: opacity-to 1s 750ms;
}

@keyframes opacity-to {
    0%{
        background: #fff;
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}